[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
panda = "*"
numpy = "*"
pyyaml = "*"
matplotlib = "*"
pytz = "*"
plotly = "*"
unidecode = "*"
jupyter = "*"
psycopg2-binary = "*"
pandas = "*"

[requires]
python_version = "3.7"
